body {
    background-color:#fafbcd;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
}
h1 {
    color:#8c0000;
    background-color:#e3a400;
}
h2 {
    color:#980000;
}
#sublinhado {
    text-decoration: underline;
}
#espaco {
    word-spacing: 5px;
}
#espaco1 {
    word-spacing: 4px;
}
.direita {
    text-align:right;
    display:block;
}

/*#primeiroh1 {
    text-decoration::none
}*/